.logo {
  margin: 0 auto;
  width: 80px;
  height: 100px;
  position: relative;
  transition: all 0.5s ease-out;
  &.showSignIn {
    transform: scale(10);
    opacity: 0;
    .logoBtm {
      top: 120px;
    }
  }
}
.logoBtm,
.logoTop {
  width: 100%;
  // transition: all 0.5s ease-out;
  position: absolute;
  margin: 0 auto;
}

.logoBtm {
  top: 26px;
}
