.artistList {
  overflow-y: auto;
  width: 100%;
  padding-bottom: 200px;
}
.artist {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.2);
  margin: 1px 0;
  cursor: pointer;
  span,
  .artistIcon {
    float: left;
  }
}

.artistIcon {
  width: 40px;
  height: 40px;
  background-size: 100%;
  border-radius: 50%;
  margin: 0 15px;
}
