.tracklist,
.searchWrapper {
  color: white;
  width: 100vw;
  background: rgba(255, 255, 255, 0.15);
  h2,
  h3 {
    margin: 0;
  }
  .track {
    width: 100%;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.2);
    margin: 2px 0;
    cursor: pointer;
    .trackTitle {
      margin: 0 0 0 8px;
      vertical-align: middle;
    }
  }
}

.searchWrapper {
  input {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 15px;
    &::placeholder {
      color: white;
      opacity: 0.8;
    }
  }
  svg {
    margin: 15px;
  }
}

.iconRight {
  float: right;
}
